@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Space Mono';
}

/* input[type=number] {
    -moz-appearance: textfield;
} */

.d-flex{
    display: flex;
}
.backgroundLight{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F8FF;
}
.backgroundDark{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141D2F;
}
.darkMode{
    cursor:pointer;
}
.header{
    height: 38px;
    width: 730px;
    margin-bottom: 35px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.dark{
    margin-right: 16px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 2.5px;
    color: #697C9A;
}
.light{
    margin-right: 16px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 2.5px;
    color: #FFFFFF;
}
.devfinderLight{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: #222731;
}
.devFinderDark{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: #FFF;

}
.searchIcon{
    height: 24px;
    width: 24px;
    margin-top: 24px;
    margin-left: 32px;
    position: absolute;
    z-index: 1;
}
.searchFieldLight{
    height: 69px;
    width: 730px;
    margin-left: -8px;
    margin-bottom: 24px;
    padding-right: 116px;
    padding-left: 80px;
    border-radius: 15px;
    border: none;
    box-shadow:0px 16px 30px -10px rgba(70, 96, 187, 0.198567) ;
    background: #FEFEFE;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #4B6A9B;
}
.searchFieldDark{
    height: 69px;
    width: 730px;
    margin-left: -8px;
    margin-bottom: 24px;
    padding-right: 116px;
    padding-left: 80px;
    border-radius: 15px;
    border: none;
    box-shadow:0px 16px 30px -10px rgba(70, 96, 187, 0.198567) ;
    background: #1E2A47;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;

}

.searchButton{
    margin-left: -116px;
    width: 106px;
    height: 50px;
    background-color: #0079FF;
    border: none;
    border-radius: 10px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
}
.notFound{
    position:absolute;
    margin-top: -45px;
    margin-left: 498px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #F74646;
}
.cardLight{
    height: 419px;
    width: 730px;
    padding: 48px;
    border-radius: 15px;
    display: flex;
    background-color: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgba(70 ,96, 187, 0.198567);
}
.cardDark{
    width: fit-content;
    padding: 48px;
    border-radius: 15px;
    background-color: #1E2A47;
    box-shadow: 0px 16px 30px -10px rgba(70 ,96, 187, 0.198567);

}
.nameAndDateLight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2B3442;
}
.nameAndDateDark{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nameAndDateDark h1{
    color: #ffffff;   
}
.nameAndDateLight p {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #697C9A;
}
.nameAndDateDark p {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #ffffff;
}
.avatar{
    height: 117px;
    width: 117px;
    border-radius: 100%;
    margin-right: 37px;
}
.name{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: #2B3442;
}
.tagName{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0079FF;
}
.bioLight{
    margin-bottom: 32px;
    margin-top: 20px;
    mix-blend-mode: normal;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #4B6A9B;
    opacity: 0.75px;
}
.bioDark{
    margin-bottom: 32px;
    margin-top: 20px;
    mix-blend-mode: normal;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #FFF;
    opacity: 0.75px;
}
.miniCardLight{
    height: 85px;
    width: 480px;
    border-radius: 10px;
    background-color: #F6F8FF;
    display: flex;
    justify-content: space-around;
}
.miniCardDark{
    height: 85px;
    width: 480px;
    border-radius: 10px;
    background-color: #141D2F;
    display: flex;
    justify-content: space-around;
}

.miniCardTextLight{
    margin-top: 15px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #4B6A9B;

}
.miniCardTextDark{
    margin-top: 15px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #FFF;

}
.numbersLight{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #2B3442;
    /* text-transform: uppercase; */

}
.numbersDark{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #fff;
    /* text-transform: uppercase; */
}
.additionalInfoLight{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #4B6A9B;     
}
.additionalInfoDark{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #fff;     
}
.withoutAdditionalInfoLight{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #A4B4cc;     
}
.withoutAdditionalInfoDark{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #fff;     
}
.additionalInfoSection{
    margin-top: 37px;
    display: grid;
    grid-template-columns:auto auto;
    gap: 19px;
}
.location{
    height: 20px;
    width: 13.7px;
    margin-right: 25px;
}
.twitter{
    height: 16px;
    width: 19px;
    margin-right: 19px;
}
.link{
    height: 20px;
    width: 19px;
    margin-right: 19px;
}
.company{
    height: 20px;
    width: 19px;
    margin-right: 19px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
@media only screen and (max-width:600px){
    .header{
        height: 38px;
        width: 327px;
        margin-bottom: 20px; 
    }
    .searchIcon{
        height: 24px;
        width: 24px;
        margin-top: 18px;
        margin-left: 0px;
        position: absolute;
        z-index: 1;
    }
    .searchFieldLight{
        height: 60px;
        width: 327px;
        padding-right: 84px;
        padding-left: 45px;
        font-size: 13px;
        line-height: 25px;  
    }
    .searchFieldDark{
        height: 60px;
        width: 327px;
        padding-right: 84px;
        padding-left: 45px;
        font-size: 13px;
        line-height: 25px; 
       
    }
    
    .searchButton{
        margin-left: -92px;
        width: 84px;
        height: 46px;  
    }
    .cardLight{
        height: 517px;
        width: fit-content;
        padding: 24px; 
    }
    .cardDark{
        height: 517px;
        width: fit-content;
        padding: 24px; 
    }
    .nameAndDateLight{
        display: flex;
        flex-direction: column;
        justify-content:flex-start ;
        align-items: flex-start;
       
    }
    .nameAndDateDark{
        display: flex;
        flex-direction: column;
        justify-content:flex-start ;
        align-items: flex-start;
       
    }
   
    .nameAndDateLight p {
       margin-top: 20px;
        font-size: 13px;
        line-height: 19px;
        
    }
    .nameAndDateDark p {
        margin-top: 20px;
         font-size: 13px;
         line-height: 19px;
         
     }
     .avatar{
        height: 70px;
        width: 70px;
        margin-bottom: 39px;
        margin-right: 19px;
    }
    /* .name{
       margin-right: 0px;
        font-size: 16px;
        line-height: 324px;
    
    } */
    .tagName{
    margin-top: -40px;
    font-size: 13px;
    line-height: 19px;
}
.bioLight{
    margin-bottom: 23px;
    margin-top: 34px;
    margin-left: -89px;
    width: 279px;
}
.bioDark{
    margin-bottom: 23px;
    margin-top: 34px;
    margin-left: -89px;
    width: 279px;

}
.miniCardLight{
    margin-left: -89px;
    height: 85px;
    width: 279px;
}
.miniCardDark{
    margin-left: -89px;
    height: 85px;
    width: 279px;
}
.additionalInfoSection{
    margin-left: -89px;
    margin-top: 24px;
    display: grid;
    grid-template-columns: auto;
    gap: 12px;
}

}
